/*общее*/

/*для всего объекта body*/
body {
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*для img которая находится в header*/
header img {
    height: 700;
    width: 500px;
    display: block;
    margin: auto;
}

/*для навигационного поля */
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: chocolate;
    overflow: hidden;
    border-bottom-left-radius: 10px;
}

nav li {
    float: left;
}

nav a {
    display: inline-block;
    color: white;
    text-align: left;
    padding: 10px;
    text-decoration: none;
}

/* для нижней части*/
footer nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: chocolate;
    overflow: hidden;
}
.v:hover {
    background-color: rgb(255, 125, 32);
    color: rgb(252, 252, 252);
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
}
nav a {
    float: left;
}

form {
    display: flex;
    gap: 32px;
    margin:auto;
    flex-direction: column;
    width: 600px;
}
form div div {
    display: flex;
    justify-content: space-between;
}
.field {
    border-color: brown;
    border-width: 3px;
    width: 300px;
    height: 15px;
    cursor: pointer;
}
.point {
    cursor: pointer;
}
.line , .Kursor {
    cursor: pointer;
}
h1 {
    text-align: center;
    text-decoration: underline;
}
.Zagolovok {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-weight: 700;
}
.Kursor {
    align-self: flex-end;
}
/*FlexBox для ХЭДЭР*/
.flex-container {
    display: flex;
    justify-content: space-between;
    align-items: flex-start; 
}
.flex-container > div {
    width: 12,5%;
    margin: 1px;
    text-align: center;
    line-height: 30px;
    font-size: 15px;
    gap: auto;
    
}
.formfile_form {
    display: flex;
    flex-direction: column;
    gap: 15px;
    max-width: 1200px;
    margin-bottom: 15px;
}
.formfile_checkbox {
    display: inline-block;
    min-width: 75px;
}
.formfile {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.formfile_input {
    display: flex;
    flex-direction: column;
    gap: 15px;
}
.formfile_radio_label {
    display: inline-block;
    min-width: 75px;
}

.formfile_radio {
    display: flex;
    flex-direction: column;
}
.formfile_select {
    min-width: 200px;
}
.formfile_textarea {
    display: flex;
    align-items: start;

}
.section__output {
    display: flex;
    flex-direction: column;
    gap: 15px;
}