body {
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}
header img {
    height: 700;
    width: 500;
    display: block;
    margin: auto;
}
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: chocolate;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: block;
    color: white;
    text-align: center;
    padding: 15px 16px;
    text-decoration: none;
}
footer nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: chocolate;
    overflow: hidden;
}

nav a {
    float: left;
}
.Zagolovok {
    color: rgb(223, 157, 15);
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-weight: 700;
}
.dannie {
    color: rgb(255, 174, 0);
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 500;
}
a:hover {
    color: rgb(255, 51, 0);
    text-decoration: underline;
    background-color: rgb(255, 153, 1);
    cursor: pointer;
}

a:link {
    color: white;
    text-decoration: none;
    cursor: pointer;
}

h1 {
    text-align: center;
    text-decoration: underline;
}
label , input , select {
    cursor: pointer;
}