/*общее*/

/*для всего объекта body*/
body {
    background-color: bisque;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    margin: 0;
    padding: 0;
}

/*для img которая находится в header*/
header img {
    height: 700;
    width: 500px;
    display: block;
    margin: auto;
}

/*для навигационного поля */
nav>ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: chocolate;
    overflow: hidden;
}

nav li {
    float: left;
}

nav a {
    display: inline-block;
    color: white;
    text-align: left;
    padding: 10px;
    text-decoration: none;
}

/* для нижней части*/
footer nav {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: chocolate;
    overflow: hidden;
}
.v:hover {
    background-color: rgb(255, 125, 32);
    color: rgb(252, 252, 252);
    padding: 10px;
    text-align: center;
    text-decoration: underline;
    display: inline-block;
}

nav a {
    float: left;
}
.field {
    border-color: brown;
    border-width: 3px;
    width: 10%;
    height: 15px;
    position: absolute;
    left: 11%;
    cursor: pointer;
}
.point {
    position: absolute;
    left: 4%;
    cursor: pointer;
}
.line , .Kursor {
    cursor: pointer;
}
h1 {
    text-align: center;
    text-decoration: underline;
}
.Zagolovok {
    text-align: left;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    text-decoration: underline;
    font-weight: 700;
}